tender-venv
*.txt
.env
.DS_Store
rib_ausschreibungen/
*.pyc

# python
__pycache__/
*.pyc
*.pyo
*.pyd
pip*

# venv
venv/
.env/
env/
.venv/
kai-prototype-backend/kai/lib/
kai-prototype-backend/kai/bin/
kai-prototype-backend/kai/include/
kai/

# ide
.idea/
.vscode/
*.swp

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.env
